.error {
  color: red;
  background: lightgrey;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  
}

.success {
  color: green;
  background: lightgrey;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.blogitem {
  color: black;
  background: lightgrey;
  font-size: 15px;
  border-style: solid;
  border-color: darkgray;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.error:empty {
    display: none
}

.success:empty {
    display: none
}
